body {
  max-width: auto;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.home-body-conatainer {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 35vh;
  background-color: rgb(0, 0, 0);
  /* box-shadow: 3px 10px 19px 4px blue ; */
}

.home-body-card {
  margin: 190px 0px 0px 100px  ;
  flex: 0 0 300px;
  height: 360px;
  border-radius: 140px;
}

.home-body-content {
  border-radius: 50px;
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
  background-color: rgb(255, 255, 255);
  margin-top: -20px;
  height: 570px;
  /* width: 300px;  */
}

.home-body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.image-home {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .home-body-container {
    flex-direction: column;
    align-items: center;
  }

  .home-body-card {
    margin-right: 100px;
    margin-left:60px;
    margin-bottom: 20px;
    flex: 1;
  }
}
