.Moneytran-heading {
  background-color: black;
  color: white;
  padding: 0.1px;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
}

.Moneytran-heading-name {
  font-size: 30px;
}

@media (max-width: 768px) {
  .Moneytran-heading {
    border-radius: 0;
  }

  .Moneytran-heading-name {
    font-size: 24px;
  }
}

.Moneytran-body {
  margin: 10px 0px 0px 0px;
  /* border: 2px solid black; */
  /* background-color: aqua; */
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* text-align: center; */
}
.Moneytran-detail-right {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  float: right;
  height: 34%;
  width: 100%;
  /* background-color: rgb(30, 255, 0); */
  padding: 0px 15px 18px 10px;
  overflow: hidden;
  margin-top: -120px;
}
.Moneytran-Personal-content-right-benificery-card{
  margin: 27px 90px 10px 90px;
  border: 2px solid black;
  border-radius: 35px;
  height: 300px;
  width: 600px;
  float: right;
  overflow: hidden;
  /* background-color: rgb(255, 0, 0); */
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
  overflow-y: scroll; 
  max-height: 330px;

}
.Moneytran-Personal-content-right-benificery-card::-webkit-scrollbar {
  
  display: none;
}
.benificery-table {
  /* background-color: red; */
  margin-top: 45px;
}
.Moneytran-Personal-content-right-benificery-card h2{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: -1px;
  width: 250px;
  color: white;
  float: left;
  border-radius: 0px 0px 40px 40px;
  background-color: rgb(0, 0, 0);
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
}
.Moneytran-Personal-content-right-benificery-card h3{
  /* position: fixed; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: -1px;
  margin-right: -20px;
  width: 100px;
  color: white;
  float: right;
  border-radius: 0px 40px 40px 40px;
  background-color: rgb(0, 0, 0);
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
}
.Moneytran-Personal-content-right-benificery-card h3 img{
  height: 30px;
  margin-right: 20px;
}
.Moneytran-Personal-content-right {
  margin: 27px 90px 10px 90px;
  border: 2px solid black;
  border-radius: 35px;
  height: 250px;
  width: 500px;
  float: right;
  /* background-color: rgb(255, 213, 0); */
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
}


.Moneytran-Personal-detail-left {
  /* flex-direction: column; */
  display: flex;
  float: left;
  height: 1%;
  background-color: rgb(255, 0, 238);
}

.transaction-Personal-content-left {
  margin: 90px 0px 20px 0px;
  border: 2px solid black;
  border-radius: 35px;
  height: 250px;
  width: 550px;
  float: left;
  /* background-color: rgb(43, 0, 255); */
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
}
.transaction-detail-down {
  margin-top: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 35px;
  height: 470px;
  width: 1450px;
  float: right;
  /* background-color: rgb(255, 213, 0); */
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
  overflow-y: auto;
  /* max-height: 200px; */
}
.transaction-detail-down::-webkit-scrollbar {
  width: 0em; /* Adjust the width as needed */
  background-color: #f5f5f5; /* Set the background color of the scrollbar */
}
.scroll-heading {
  background-color: black;
  color: white;
  margin-top: 30px;
  margin-bottom: -100px;
  padding: 10px;
  width: 99%;
  border-radius: 40px 40px 0px 0px;
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
}
.transaction-card-heading-box {
  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.moneytransfer-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Moneytran-Personal{
  margin: 87px 90px 10px 90px;
  border: 2px solid black;
  border-radius: 35px;
  height: 300px;
  width: 600px;
  float: right;
  overflow: hidden;
  /* background-color: rgb(255, 0, 0); */
  box-shadow: 3px 10px 19px 4px rgba(10, 10, 245, 0.2);
}
.Moneytran-heading-transfer-upi{
  height: 35px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.Moneytran-heading-transfer-upi img{
  height: 35px;
  /* float: left; */
  margin-left: -50px;
  /* background-color: red; */
}
.heading-money{
  margin-left: 50px;
  color: white;

}